openapi: 3.1.0
info:
  title: Dedalus Audio Health API
  description: 'MCP gateway for AI agents. Mix-and-match any model with any tool from our marketplace.


    ## Authentication

    Use Bearer token or X-API-Key header authentication:

    ```

    Authorization: Bearer your-api-key-here

    ```

    ```

    x-api-key: your-api-key-here

    ```


    ## Available Endpoints

    - **GET /v1/models**: list available models

    - **POST /v1/chat/completions**: Chat completions with MCP tools

    - **GET /health**: Service health check'
  version: 0.0.1
servers:
- url: https://api.dedaluslabs.ai
  description: Official Dedalus API
tags:
- name: Health
paths:
  /health:
    get:
      tags:
      - Health
      summary: Health Check
      description: Simple health check.
      operationId: health_check_health_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
      x-hidden: true
      x-codeSamples:
      - lang: go
        label: Go
        source: 'client := dedalus.NewClient()


          result, err := client.Health.Check(ctx context.Context)'
components:
  schemas:
    HealthResponse:
      properties:
        status:
          type: string
          title: Status
      type: object
      required:
      - status
      title: HealthResponse
      description: Health check response model.
  securitySchemes:
    Bearer:
      type: http
      scheme: bearer
